<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender_id %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @message.receiver_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>Read:</strong>
  <%= @message.read %>
</p>

<p>
  <strong>Message thread:</strong>
  <%= @message.message_thread_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
