<%= form_for(@message_thread) do |f| %>
  <% if @message_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_thread.errors.count, "error") %> prohibited this message_thread from being saved:</h2>

      <ul>
      <% @message_thread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner_id %><br>
    <%= f.number_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :sender_id %><br>
    <%= f.number_field :sender_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
