<p id="notice"><%= notice %></p>

<h1>Listing Message Threads</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Sender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_threads.each do |message_thread| %>
      <tr>
        <td><%= message_thread.owner_id %></td>
        <td><%= message_thread.sender_id %></td>
        <td><%= link_to 'Show', message_thread %></td>
        <td><%= link_to 'Edit', edit_message_thread_path(message_thread) %></td>
        <td><%= link_to 'Destroy', message_thread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message thread', new_message_thread_path %>
