<div class="hero-header">
  <div class="main-text" style="padding-down: 120px">Air BnB</div>
  <div class="sub-text">A place to find your next home</div>
</div>

<%= link_to "Sign in with Facebook", "/auth/facebook" %>


<table id='listings-table'>
  <thead>
    <tr>
      <th>User</th>
      <th>Description</th>
      <th>Accomodates no persons</th>
      <th>Address</th>
      <th>City</th>
      <th>Price</th>
      <th>Photo url</th>
      <th>Smooking</th>
      <th>Pet friendly</th>
      <th>Apartment</th>
      <th>House</th>
      <th>House type</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.user.email %></td>
        <td><%= listing.description %></td>
        <td><%= listing.accomodates_no_persons %></td>
        <td><%= listing.address %></td>
        <td><%= listing.city %></td>
        <td><%= listing.price %></td>
        <td><%= image_tag listing.photo_url, class: 'listing-photo' %></td>
        <td><%= listing.smooking %></td>
        <td><%= listing.pet_friendly %></td>
        <td><%= listing.apartment %></td>
        <td><%= listing.house %></td>
        <td><%= listing.house_type %></td>
        <td><%= listing.start_date %></td>
        <td><%= listing.end_date %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="div-one">
  <div class="para-one" id='about-us'>
    <h1>About Us</h1>
    This is a home booking website made by the 'people' for the 'people'</div>
  <div class="para-two">
    <h1>Why use us</h1>
    You can be part of a community sharing cultures while widening your travel horizons. Wherever you go...home is where you will be. 
  </div>
</div>