<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>


<!-- <p id="notice"><%= notice %></p> -->
<h2>Your Reservation Details</h2>
<br>
<p>Check in: <%= @reservation.start_date %></p>
<p>Check out: <%= @reservation.end_date %></p>
<p>No. of Nights: <%= (@reservation.end_date - @reservation.start_date).to_i %></p>  

<p> Listing ID: <%=@reservation.listing.id.to_i%></p>
<p> Listing $$$: <%=@reservation.listing.price.to_i%></p>
<p> Total $$$: <%=@reservation.amount.to_i%></p>
<p> Reservation ID: <%=@reservation.id%></p>
<div class="btn-toolbar">
   <%= link_to "Edit", edit_reservation_path(@reservation), class: "btn btn-secondary"  %>
   <%= link_to 'Back', reservations_path, class: "btn btn-secondary"  %>
 </div>



 <%= link_to 'Pay Now', braintree_new_path %>


