<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation:</strong>
  <%= @payment.reservation_id %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @payment.total_amount %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
