<nav class="menu">
  <ul class="active">
    <li class="current-item"><%= link_to "Home", root_url %></li>
    <% unless signed_in? %>
    <li><%= link_to "Login", sign_in_path %></li>
    <li><%= link_to "Signup", sign_up_path %></li>
    <% else %>
    <li><%= button_to "Sign out", sign_out_path, method: :delete %>
    <% end %>

    <li><%= link_to "About Us", "#about-us" %></li>
  </ul>
</nav>